/*Importación de la fuente quue será utiliza de google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,300&family=Comfortaa:wght@500&family=Jost&family=Kanit:wght@300&family=Pixelify+Sans&display=swap");

/*Estilo global a toda la pagina*/
* {
  overflow-x: hidden;
  font-family: "Asap", sans-serif;
  box-sizing: border-box;
}

/*Estilo para el menu de navegacion header*/
.header {
  background-color: #1c1c1b;
  /*Estilo para los enlaces del navegdor*/
  & .nav-link {
    color: white;
    /*Estilo para el hover del los links*/
    &:hover {
      color: #8f8989;
    }
    /*Estilo para el focus de los links*/
    &:focus {
      color: #f9b233;
    }
  }
  & .nav-item.active a {
    color: #f9b233;
    font-weight: bold;
  }
}

/*Para dar un ancho a navbar*/
.navbar-brand {
  width: 8em;
}

/*Estilo del contenedor para ajustar los items*/
.container-fluid {
  padding-left: 1em;
  padding-right: 2em;
}

/*Estilo para el contenedor del h1*/
.contenedor {
  background-color: #1c1c1b;
  /*Estilo para el h1 encabezado*/
  & h1 {
    top: 0;
    left: 0;
    font-size: 2.2em;
    margin: 1em;
    z-index: 1;
    overflow: hidden;
    font-weight: bold;
    position: relative;
  }

  & h1::before{
    content: attr(data-text);
    position: absolute;
    background-color: #f9b233;
    overflow-x: hidden;
    white-space: nowrap;
    width: 400px;
    border-right: 4px solid #f9b233;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation:luzTexto 4s linear infinite;
    filter: drop-shadow(0 0 5px #f9b233);
  }
}

/*Animacion del h1*/
@keyframes luzTexto {
  0%, 10%, 100%{
    width: 0;
  }
  70%, 90%{
    width: 100%;
  }
}


/*Estilo para el contenedor del carrusel*/
.contenedor-carrusel {
  background-color: #1c1c1b;
}

/*Estilos para los dialogos que contienen los trailers*/
dialog{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  & iframe{
    border-radius: 20px;
  }
  & button {
    font-weight: bold;
    font-size: 1.6em;
    border: 0;
    background-color: #f9b233;
    border-radius: 20px;
    width: 4em;
    &:hover{
      transition: 0.5s;
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border-radius: 20px;
      border:1px solid rgba(255, 255, 255, 0.18);
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    }
  }
}

/*Estilo para el contenedor del footer*/
footer{
  background-color: #1c1c1b;
}

/*Aqui estan las mediaquerys*/
@media (width < 1200px){
  .contenedor {& h1 {font-size: 1.7em;}}
  dialog {& iframe {width: 700px;height:330px}}
}

@media (width < 1050px){
  dialog {
    & iframe {width: 600px;height:330px}
    & button {font-size: 1.3em;}
  }
}

@media (width < 900px){
  .contenedor {& h1 {font-size: 1.5em;}}
  dialog {
    & iframe {width: 500px;height:300px}
    & button {font-size: 1.1em;}
  }
}

@media (width < 700px){
  .contenedor {& h1 {font-size: 1.3em;}}
  dialog {
    & iframe {width: 400px;height:250px}
    & button {font-size: 0.9em;}
  }
}

@media (width < 550px){
  .contenedor {& h1 {font-size: 1em;}}
  dialog {
    & iframe {width: 280px;height:230px}
    & button {font-size: 0.6em;}
  }
}