@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,300&family=Comfortaa:wght@500&family=Jost&family=Kanit:wght@300&family=Pixelify+Sans&display=swap");

* {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Asap", sans-serif;
}

.header{
  background-color: #1C1C1B;
}

.navbar-brand {
  width: 8em;
}

.container-fluid {
  padding-left: 1em;
  padding-right: 2em;
}

.header .nav-link {
  color: white;
}

.header .nav-link:hover {
  color: #8f8989;
}


.header .nav-link:focus {
  color: #F9B233;
}

.contenedor{
  background-color: #1C1C1B;
  color: whitesmoke;
}

.contenedor h1{
  margin: 1em;
  padding: 0.5em;
  font-weight: bold;
  background: radial-gradient(whitesmoke,#F9B233);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.contenedor-carrusel{
  background-color: #1C1C1B;
}

.contenedor-footer{
  background-color: #1C1C1B;
  color: whitesmoke;
  margin-bottom: 0;
  
}

.footer{
  margin: 10px;
}

.footer img{
  width: 120px;
  height: 50px;
}
